flows.json
[
    {
        "id": "b8f9c9a92652ae8e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9dab753862135266",
        "type": "inject",
        "z": "b8f9c9a92652ae8e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 220,
        "wires": [
            [
                "852225c001fa224a"
            ]
        ]
    },
    {
        "id": "852225c001fa224a",
        "type": "debug",
        "z": "b8f9c9a92652ae8e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "c103b8d1f49e5069",
        "type": "status",
        "z": "b8f9c9a92652ae8e",
        "name": "",
        "scope": null,
        "x": 470,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e95b1d73f9304d5a",
        "type": "status",
        "z": "b8f9c9a92652ae8e",
        "name": "",
        "scope": null,
        "x": 630,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "538193a5a4bdff06",
        "type": "link in",
        "z": "b8f9c9a92652ae8e",
        "name": "",
        "links": [],
        "x": 425,
        "y": 360,
        "wires": [
            []
        ]
    }
]